*{margin:0;padding:0;box-sizing:border-box;font-family:Inter,sans-serif}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#1e3a8a,#1e40af);
}

/* CARD */
.login-container{
  width:100%;
  max-width:380px;
  padding:20px;
}
.login-card{
  background:white;
  padding:35px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 25px 50px rgba(0,0,0,.25);
  animation:float 1s ease;
}

@keyframes float{
  from{opacity:0;transform:translateY(20px)}
  to{opacity:1;transform:translateY(0)}
}

h2{margin-bottom:5px;color:#1e40af}
.subtitle{font-size:14px;color:#64748b;margin-bottom:25px}

select,input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border-radius:15px;
  border:1px solid #cbd5e1;
}

input:focus,select:focus{
  outline:none;
  border-color:#1e40af;
}

/* BUTTON */
button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:20px;
  background:#1e40af;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
}
button:hover{
  background:#1d4ed8;
  transform:scale(1.05);
}

/* ERROR */
#error{
  margin-top:15px;
  color:#dc2626;
  font-size:14px;
}
